@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body.fonte-person{
    font-family: 'Lato', sans-serif;
}

.carousel-caption h5{
    font-size: 50px;
    color: #ffc107;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.644)
}

nav{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.274);
    margin-bottom: 10px;
}

